body {
	/* background: linear-gradient(to bottom right, #003366 0%, #cc66ff 100%); */
	background:#e8ede9;
  	min-height: 100vh;
}

.homepage-img {
	background:#e8ede9;
	background-size: cover; 
	min-height: 100vh;
}

.get-started {
	 background: rgba(0, 0, 0, 0.1); 
    text-align: center;
    margin: 200px;
    color: white;
}


/* ----------------------------------- Buttons -------------------------------- */
.btn-primary.btn {
	border-radius: 5px;
	font-weight: bold;
	background-color: #472EDB;
	color: #fff;
	padding: 10px 25px 10px 25px;
}

.btn-primary.btn:hover, .btn-primary.btn:focus {
	border-color: #5C0FD1;
	outline: none;
}

.btn-primary.btn:active {
	border-color: #5C0FD1;
	background-color: #472EDB;
	outline: none;
}

.btn-default.btn {
	width: 100%;
	border-radius: 2px;
	padding: 10px 0;
	margin-top: 10px;
	background-color: #f4f4f5;
}

.btn.btn-default:hover {
	box-shadow: 0 4px 6px -6px #333;
}

.table-btn {
	font-weight: normal !important;
	padding: 5px 25px 5px 25px !important;
	height: 34px;
}


/* -------------------------------- AUTHENTICATION -------------------------------- */
/* For both sign up and login pages */

.sign-up.social-links .btn {
	margin-bottom: 10px;
}

.sign-up-form {
	background-color: #FFFFFF;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border-radius: 5px;
	position: relative;
	top: 2em;
}

.sign-up-text {
	padding: 1.5rem 2rem;
}

.form-group {
	margin-bottom: 15px;
}

.form-group label {
	font-weight: normal;
}

.form-control {
	height: 4.0rem;
	border-radius: 5px;
}

/* For login only */

.forgot-password a {
	float: right;
}

.remember {
	float: left;
}


/* -------------------------------- MISC -------------------------------- */

.wide {
	width: 100%;
}


/* -------------------------------- BUCKETLIST -------------------------------- */

.bucketlist {
	color: black;
}

.content {
	margin-top: 2em;
	padding-top: 1em;
	text-align: center;
	background-color: white;
}

.table {
	max-width: 800px;
	margin-left: 140px;
	text-align: left;
}

.content h4 {
	text-decoration: underline;
	font-weight: bold;
}

.error-msg-width {
	width: 70px !important;
}
